.results {
  width: 100%;
  margin: 9em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.results-title {
  margin-bottom: 1.5em;
}

.results-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.results-first-section,
.results-second-section {
  display: flex;
  width: max-content;
}

.results-img-con {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 2em;
}

.results-img {
  width: 105px;
  height: auto;
}

.results-img-desc {
  text-align: center;
  font-size: 0.9em;
}
