.new-hero {
  display: flex;
  width: 100%;
  /* height: calc(100vh - 80px); */
  height: max-contnent;
  background-color: var(--main-bg-color);
  padding: 2em 0 0 0;
  border-radius: 5px;
}

.description-con {
  flex: 1;
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.desc-wrapper {
  width: 70%;
  /* background-color: white; */
}

.sub-title {
  color: #c677af;
}

.title {
  font-size: 3.5em;
  margin-top: -0.1em;
  padding: 0;
}

.btn {
  padding: 1.25em 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 1px solid #000;
  cursor: pointer;
  font-size: 0.8em;
  letter-spacing: 0.2em;
}

.arrow {
  margin-left: 0.75em;
  transition: all 0.1s ease-in;
}

.btn:hover .arrow {
  transform: translateX(0.5em);
}

.img-con {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ellipse {
  position: absolute;
  height: 20em;
  width: 20em;
  border-radius: 50%;
  background-color: #c677af;
  opacity: 0.3;
  z-index: 1;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.hero-img {
  /* height: 577px;
  width: 433px; */
  /* position: relative; */
  top: 0;
  right: 50%;
  transform: translate(50%, 1%);

  z-index: 45;
  position: relative;
}
