/* 960px */
@media screen and (max-width: 960px) {
  .new-nav {
    width: 78.5%;
    padding: 0 2em;
  }

  .new-nav-1st-wrap,
  .new-nav-2nd-wrap {
    display: none;
  }

  .hamburger-con {
    display: flex;
  }

  .cart {
    padding: 0;
  }
}

/* 768px */
@media screen and (max-width: 768px) {
  .new-nav {
    width: 81.5%;
  }
}

/* 650px */
@media screen and (max-width: 650px) {
  .new-nav {
    width: 82.5%;
  }
}

/* 600px */
@media screen and (max-width: 600px) {
  .new-nav {
    height: 60px;
    width: 83.5%;
    padding: 0 1.5em;
  }

  .new-nav-logo {
    font-size: 2em;
  }

  .hamburger-con {
    height: 30px;
    width: 30px;
  }

  /* .hamburger,
  .hamburger::before,
  .hamburger::after {
    width: 1em;
  } */

  .hamburger::before {
    bottom: 6px;
  }
  .hamburger::after {
    top: 6px;
  }

  .cart {
    font-size: 1.25em;
  }
}

/* 450px */
@media screen and (max-width: 450px) {
  .new-nav {
    padding: 0 1em;
    width: 85%;
  }

  .new-nav-logo {
    font-size: 1.75em;
  }

  .hamburger-con {
    height: 27.5px;
    width: 27.5px;
  }

  .hamburger::before {
    bottom: 6px;
  }
  .hamburger::after {
    top: 6px;
  }
}

/* 350px */
@media screen and (max-width: 350px) {
  .new-nav {
    width: 82.5%;
  }

  .new-nav-logo {
    font-size: 1.5em;
  }

  .cart {
    font-size: 1.15em;
  }

  /* .hamburger-con {
    height: 25px;
    width: 25px;
  } */

  .hamburger::before {
    bottom: 5px;
  }
  .hamburger::after {
    top: 5px;
  }
}
