.new-nav {
  width: 85%;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: blue; */
}

.new-nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  width: 100%;
  /* background-color: red; */
}

.new-nav-1st-wrap,
.new-nav-2nd-wrap {
  font-size: 0.9em;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  /* background-color: green; */
}

.logo-link {
  color: #000;
  text-decoration: none;
}

.new-nav-logo {
  font-family: 'Quicksand', sans-serif;
  font-size: 2.5em;
  transition: all 200ms ease-in-out;
}

.hamburger-con {
  height: 45px;
  width: 45px;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #000;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  /* background-color: #393d46; */
}

.hamburger-con:hover {
  border: 1px solid #c677af;
}

.hamburger {
  display: block;
  position: relative;
  transition: all 200ms ease-in-out;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  width: 1.25em;
  height: 2px;
  background: #000;
}

.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  left: 0;
}

.hamburger::before {
  bottom: 7px;
}
.hamburger::after {
  top: 7px;
}
