.waistApparel__product {
  position: relative;
  height: max-content;
  padding: 0.5em;
  margin: 0 auto 4em auto;
  text-align: center;
}

.hovered__apparelProduct {
  outline: 1px solid #000;
}

.waistApparel__product > img {
  height: auto;
  width: 350px;
  background-color: var(--imgOne-bg-color);
  border-radius: 5px;
}

.hovered__img {
  opacity: 0.7;
  cursor: pointer;
}

.waistLink__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.75em 2em;
  font-weight: bold;
  border: none;
  letter-spacing: 1px;
  color: #fff;
  background-color: rgba(45, 40, 50, 0.9);
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.waistLink__btn:hover {
  background-color: var(--link-color);
}

.product {
  font-size: 10em;
}

.price {
  font-size: 0.9em;
}

.waistApparel__productDetails {
  padding: 0 1em;
}

/* Media Queries */

/* 1150px */
@media screen and (max-width: 1150px) {
  .waistApparel__product > img {
    width: 325px;
  }
}

/* 1080px */
@media screen and (max-width: 1080px) {
  .waistApparel__product > img {
    width: 300px;
  }
}

/* 1024px */
@media screen and (max-width: 1024px) {
  .waistApparel__product > img {
    width: 350px;
  }
}

/* 930px */
@media screen and (max-width: 930px) {
  .waistApparel__product > img {
    width: 325px;
  }
}

/* 850px */
@media screen and (max-width: 850px) {
  .waistApparel__product > img {
    width: 300px;
  }
}

/* 800px */
@media screen and (max-width: 800px) {
  .waistApparel__product > img {
    width: 275px;
  }
}

/* 700px */
@media screen and (max-width: 700px) {
  .waistApparel__product > img {
    width: 350px;
  }
}

/* 480px */
@media screen and (max-width: 480px) {
  .waistApparel__product > img {
    width: 300px;
  }

  .waistApparel__product {
    margin: 0 auto 2em auto;
  }
}

/* 380px */
@media screen and (max-width: 380px) {
  .waistApparel__product > img {
    width: 250px;
  }
}

/* 320px */
@media screen and (max-width: 320px) {
  .waistApparel__product > img {
    width: 225px;
  }
}

/* 300px */
@media screen and (max-width: 300px) {
  .waistApparel__product > img {
    width: 200px;
  }
}
