:root {
  --main-bg-color: #f6f7fb; /* #f8f8f8 */
  --first-bg-color: #576eb4;
  --link-color: #c677af;
  --imgTwo-bg-color: #9ddff0;
  --imgOne-bg-color: #f2dfb4;
  --footer-bg-color: #000;
  --social-bg-color: #191919;
  --pseudo-color: rgb(155, 155, 155);
}

* {
  font-family: 'Open Sans', sans-serif;
}

.App {
  width: 100vw;
  height: 100vh;
}

/* .wrapper {
  display: flex;
  width: 100%;
  height: 100%;
} */
